@page
@model Project_V17.Pages.ConfirmationModel
@{
    ViewData["Title"] = "Confirmation";
}

<h2>Thank you for your application. </h2>

<div>
    <p>The process is as follows</p>

    <p>Your Manager will review and approve or deny the application. They will list reasons for their decisions.</p>

    
    <p>All approved applications will be presented to the Executive for approval.</p>

    <p>The outcome will be notified to you by email</p>

    <p>If you have any queried please contact HR</p>

    



</div>

<a id="ina" href="Policy">To see the Further Study Funding Policy</a>