@page
@model ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@Model.Message</h3>

<address>
   HR Training and Development
   IT Sligo
   Ash Lane
   Sligo
   Co Sligo
   Ireland
</address>

<address>
    <strong>HR:</strong> <a href="mailto:HR@itsligo.ie">HR</a><br />
    <strong>Training and Development:</strong> <a href="mailto:aitken.stephen@itsligo.ie">Stephen Aitken</a>
</address>
