@page
@model Project_V17.Pages.PolicyModel
@{
    ViewData["Title"] = "Policy";
}

<h2>Policy</h2>

<div class="jumbotron">
    <h1 class="display-3">Further Study Policy</h1>

    <hr class="my-4">
    <p>
    <p class="lead">
        <strong>1. Purpose</strong>

    <p>IT Sligo is committed to supporting staff to develop their skills and competence through the acquisition of academic qualifications, in line with the needs and objectives of the Institute.</p>
    <p>
        The process of identifying development needs is the Performance Management and Development scheme where objectives are agreed and development needs discussed and applications will only be considered where they have resulted from a PMDS meeting.
        Resources will be made available and approvals will be prioritised to those applications which most closely match the Institute’s strategic objectives.
        These objectives include: - Acquisition of a Level 10 qualification or equivalent - Acquisition of qualifications relating to strategic objectives - The development of online learning

    <p class="lead">
        <strong>2. Scope </strong>
    <p>Applies to all staff. Where financial support is approved for a part -time member of staff it will be on a pro rata basis.

    <p class="lead">
        <strong>3. Procedure Description</strong>
    <p>
    <p>
        1. There will be an annual process to consider requests for support for study leading to an academic qualification.
        Applications must be made using the attached application form, and applications must be sent to Heads of Departments by 31st January annually.
    </p>
    <p>
        2. The Heads of Departments will review and rank requests in line with the strategic objectives of the Institute and forward to Head of School/Function.
        Each Head of School/Function will present cases, prioritized, from their School/ Function to a meeting of the Executive Committee for formal approval.
    </p>
    <p>
        3. The HR Office will write to all applicants with the outcome of the consideration of their requests.
    </p>
    <p>
        4. Where approval for financial support is granted, this will be for course fees only. The Institute will pay the approved amount directly to the programme provider.
        Where approval has been given for a multi-year programme, support will be reviewed each year, with continuing support being subject to funding available in the Institute budget and evidence of satisfactory progress of the applicant in their studies.
    </p>
    <p>5. Where approval is not granted, the Head of Department will meet with the individual to discuss the reasons why and explore other options. </p>
    <p>
        6. Where approval is granted, the decision will be valid for one academic year only. Where a staff member does not take up their proposed studies in the following
        academic year, they will be required to re-apply.
    </p>
    <p>
        7. Where a staff member wishes to change their proposed course of studies, having already received approval, they will be required to complete and submit the application form again to their Head of School / Function for consideration.
    </p>
    <p>
        8. Approval for financial support does not include reimbursement for regular travel or any other expenses. However, such expenses may be considered by the relevant Function and approved on a case by case basis
    </p>
    <p>
        9. Should an individual fail a particular module / assignment they will be responsible for the cost for retaking the module / assignment.
        Should an individual fail to complete an approved programme of study they will be required to refund all financial support provided.
    </p>
    <p>
        10. In accepting an offer of support from the Institute, staff will be required to refund all financial support provided should they terminate their employment whilst pursuing the qualification or within two years after obtaining any qualification.
    </p>
    <p>
        11. In exceptional circumstances, a staff member may defer their studies for one year following consultation with and the agreement of the relevant Head of Function. A copy of the agreement should be notified to HR.
    </p>
    <p>
        12. Funding approved for a course of studies will be payable for a maximum duration, from the commencement of the studies, as follows: Part-time PhD – 8 years (full time 4 years) Part- time Masters – 4 years (full time 2 years)




    <p class="lead">
        <a class="btn btn-primary btn-lg" href="https://mailitsligo.sharepoint.com/:b:/s/HRDepartment/EdLwV5FGKNtCg5wx2vomSZkBi645Zprpgg8EGflLfMKTaQ?e=Or8jTt" role="button">Download Policy</a>
    </p>
</div>


<div>
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="Register" role="button">Register for an application</a>
    </p>
</div>
